* {
  letter-spacing: 0 !important;
}

.button {
  border-radius: 30px;
}

.slideshow__slide-content .button {
  font-size: 10px;
  line-height: normal;
}

.collection-toolbar__filter-wrap {
  display: flex;
  justify-content: flex-end;
}

.collection-toolbar__filter-wrap,
.collection-toolbar__year {
  flex-basis: 20%;
}

.collection-toolbar__year {
  padding-left: 3rem;
}

.collection-toolbar__description {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
  max-width: 70rem;
  margin: auto;
}

.collection-toolbar__button-list {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  align-items: center;
  gap: 50px;
  width: 100%;
}

/* Layout */
.ew-model-slider__inner-wrap {
  background: #f4f4f4;
}

.ew-model-slider__inner {
  display: grid;
  grid-template-columns: 40% 55%;
  gap: 30px;
  align-items: flex-end;padding-top: 60px;
}

.ew-model-slider__slider-wrap {
  margin-bottom: 40px;
}

.ew-model-slider__model {
  text-align: center;
}

.ew-model-slider__model img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  transition: opacity .35s ease;
}

.ew-model-slider__model-placeholder {
  width: 100%;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  background: #f6f6f6;
}

/* Slides */
.splide__slide {
  padding: 18px;
  box-sizing: border-box;
  cursor: pointer;
}

.ew-model-slide__inner {
  display: block;
  text-decoration: none;
  color: inherit;
}

.ew-model-slide__figure {
  background: #f7f7f7;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ew-model-slide__figure img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
}
.ew-page-atlas .custom-footer{
  background: #000 !important;
}

.collection-toolbar__description p {
  letter-spacing: 0;
}

@media(max-width:767px){
  .slideshow__slide-content .button {
    font-size: 12px;
  }
}

.shopify-pc__banner__dialog {
  display: none !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}